body{
    background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/pw_maze_black.png);
}

.plot{
	text-align: center;
	margin-top: 60px;
};

.tooltip1 {
        width: 250px;
        height: auto;
        padding: 5px;
        background-color: black;
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
        opacity: 0.9;        
}

svg{
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.name, .year, .doping, .foot{
  color: white;
}
