body{
    background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/wood_pattern.png);
}

.plot{
	text-align: center;
	margin-top: 60px;
};

.tooltip1 {
        width: 250px;
        height: auto;
        padding: 5px;
        //background-color: #b2b2b2;
        background-color: black;
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
        opacity: 0.9;        
}

svg{
    background-color: white;
    opacity: 1;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.name, .year, .doping, .foot{

	opacity: 1;
  color: white;
}
